/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.trae/documents/
.trae/specs/pre-release-fixes/checklist.md
.trae/specs/pre-release-fixes/spec.md
.trae/specs/pre-release-fixes/tasks.md
.trae/部分日志

build-profile.json5
